<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>App to check How much you Ate</title>
    <div>**WE do NOT consider an empty item</div>
    <script src='angular.min.js'></script>
    <script src='app.js'></script>
</head>

<body ng-app='lunchapp'>
    <div ng-controller='Lunchcontroller'>
        <h1>Enter the Items you Ate For Lunch separated by commas</h1>
        <input type="text" ng-model="lunchtextbox" ng-style ="textboxstyle">
        <button ng-click="checkitems();">Check If Too Much</button>
        <br>
        <div ng-style ="messagestyle">{{checkstatus}}</div>
    </div>
</body>

</html>